[Desktop Entry]
Type=Application
Name=Text Editor
Exec=/usr/local/bin/thekernel-desktop-app editor %F
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-python;application/x-shellscript;
