set timeout=0
set default=0

serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input serial
terminal_output serial

menuentry "TheKernel (Multiboot2)" {
    search --no-floppy --file --set=root /TheKernel.elf
    multiboot2 /TheKernel.elf
    boot
}

menuentry "TheKernel (Multiboot1 fallback)" {
    search --no-floppy --file --set=root /TheKernel.elf
    multiboot /TheKernel.elf
    boot
}
